body {
  font-family: "Roboto";
  font-weight: 300;
  margin: 0;
}





/* JUMBOTRON */
#jumbotron {
  padding: 7em 0em 5em 0em;
  background: #55c1e2;
  background-size: cover;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

#jumbotron .title {
  margin-bottom: 1em;
  text-transform: uppercase !important;
}

#jumbotron .title h2 {
  color: #fff;
}

#jumbotron .title .byline {
  color: rgba(255, 255, 255, 0.8);
}

#jumbotron .button {
  margin-top: 3em;
}

#jumbotron .container {
  margin: 0em auto;
  width: 1000px;
}

.container .btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  background-color: #3b5998;
}

.container .btn:hover {
  opacity: 1;
}

